.class {
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(25% - 1em);
    padding: 2rem;
    margin: 1rem 0.25em;
    justify-content: top;
    align-items: center;
    /* height: 100px; */
    /* width: 100px; */
    margin-right: 2em;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.load {
    color: black;
}

.title {
    font-size: 1.5em;
    font-weight: 600;
    color: #075997;
}
